*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;;
    /*background-color: rgba(0, 0, 0, 0.4);*/ /*ARREGLAR ESTO*/
    position: fixed;/*
    background-size: cover;
    background-position: center;
    overflow: hidden;*/
    z-index: 99;
}
.container{
    width: 80%;
    height: 100px;;
    /*background: red;*/
    margin: auto;
    height: 100%!important;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: center!important;
}
.logo{
    width: 30%;
    height: 100px;;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}/*
.logo img{

}*/

/*menu responsive*/
.icono, .menu {
    display: none;
}


/*menu*/
nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    margin: auto;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;

}


.img-header{
    
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}

.img-header-information{
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 500px;
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}
div{
    display: block;
}
ul{
    list-style: none;
}
label{
    color: #ffffff;
}
.container-header{
    height: 100%!important;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.degrade{
    height: 100%!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.img-header:after, .img-header-information:after, .section-info:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.img-header-information:before{
    width: calc(50% - 112px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
}
.bienvenido-information h1{
    color: #fff;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 70px;
    
}
.bienvenido-information p a{
    color: #fff;
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    outline: none;
}
.fas{
    display: inline-block;
    padding: 5px;
    padding-right: 20px;
    color: #ffffff;
}

.bienvenido-information > p{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.bienvenido p i{
    width: 35px;
}

.bienvenido, .bienvenido-information{
    position: absolute;
    padding: 50px;
    width: 50%;
    padding-top: 150px;
}

.bienvenido h1{
    font-size: 4em;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    display: inline-block;
}
.btn{
    display: inline-block;
    min-width: 180px;
    height: 50px;
    font-weight: 500;
    background-color: #544BDC;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    color: white;
}

/*HOME INFORMATION*/
.container-information{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-info{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
form{
    display: block;
}
.div-info{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.formulario-information{
    width: 600px;
    margin-right: 67.5px;
    
}
.mapa-information{
    width: 600px;
    
}
.form-control{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 15px 0;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    color: rgba(51, 51, 51, 0.60);
    display: block;
    width: 100%;
    background-image: none;
    background-clip: padding-box;
}
.div-titulo h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
}
input[type="submit"]{
    display: inline-block;
    min-width: 180px;
    height: 50px;
    font-weight: 500;
    
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    color: black;
    border-style: none;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: #544BDC;
    color: white;
    transition: all 300ms;
}







/*card*/
.title{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.container-ciudades{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;
}
.container-ciudades .card{
    width: 330px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-ciudades .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}
.container-ciudades .card img{
    width: 330px;
    height: 220px;
}
.container-ciudades .card h4{
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    padding: 12px;
}
.container-ciudades .card p{
    padding: 15px;
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.container-ciudades .card a{
    font-weight: 500;
    text-decoration: none;
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}


/*SECTION*/
.section-info{
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    width: 100%;
    padding: 6rem 0;
    z-index: 98;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-info h2{
    padding-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.1rem;
    position: relative;
}
.section-info h4{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.1rem;
}
.section-info a{
    margin-top: 15px;
}


/*FORMULARIO CONTACTO*/

form{
    display: block;
}
.div-info{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.formulario-information{
    width: 600px;
    margin-right: 67.5px;
    
}
.mapa-information{
    width: 600px;
    
}
.respuesta{
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.form-control{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 15px 0;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    color: rgba(51, 51, 51, 0.60);
    display: block;
    width: 100%;
    background-image: none;
    background-clip: padding-box;
}
.div-titulo h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
}
input[type="submit"], .btnform{
    display: inline-block;
    min-width: 180px;
    height: 50px;
    font-weight: 500;
    background-color: #DDDDDD;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
    color: black;
    border-style: none;
    padding-right: 15px;
    padding-left: 15px;
}
input[type="submit"]:hover, .btnform:hover{
    cursor: pointer;
    background-color: #544BDC;
    color: white;
    transition: all 300ms;
}
.mapa-information{
    width: 600px;
    margin-left: 50.5px;
}
.information-div{
    padding: 15px;
}
.title-info{
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}
.title-info-pregunta{
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
}
.lblradio{
    color: rgba(51, 51, 51, 0.60);
    margin-left: 20px;
    margin-right: 12px;
}
.lbl-control{
    margin-right: 10px;
}
.lbl-info{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}
.lbl-title{
    color: rgba(51, 51, 51, 0.60);
    margin-bottom: 20px;
    width: 100%;
    min-height: 1px;
}

.information-div a{
    margin-left: 20px;
}

/*FOOTER*/
footer{
    width: 100%;
    background-color: #333333;
    
}
.container-footer{
    width: 80%;
    height: auto;
    margin: auto;
    
    display: flex;
    justify-content: space-between; 
    
}
.logo-redes{
    max-width: 400px;
}

.soporte{
    max-width: 400px;
}

.listas-footer{
    max-width: 400px;
}
.ciudades{
    max-width: 400px;
}
.copy{
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 20px;
    color: white;
    display: block;
    font-size: 13px;
    margin-top: 30px;
}
.list-footer{
    padding: 4px 0;
    margin: auto;
    line-height: 20px;
    padding-left: 10px;
}
.a-footer{
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.h2-footer{
    padding: 20px;
    padding-left: 10px;
    margin: auto;
    font-size: 20px;
    color: white;
    margin: 0 0 20px;
    font-weight: 400;
}
.icon-social{
    color: white;
    margin: auto;
    font-size: 20px;
    padding: 4px 0;
    padding-left: 10px;
}
.container-footer-all{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;

}

/*HOME DE LAS CIUDADES */
.p-div-section{
    width: 100%;
}
.contaniner-city{
    width: 80%;
    height: auto;
    margin: auto;
    
    display: flex;
    justify-content: space-between; 
}
.section-city{
    width: 75%;
    margin: auto;
    display: block;
}
.section-city h2{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.section-city p{
    padding: 15px;
    font-size: 20px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 12px;
}


/*FECHA*/
.hora{
    color: white;
    padding: 10px;
    font-size: 18px;
}
.logoimg{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.img-div{
    padding: 12px;
    text-align: left;
    margin: 0;
}














